body{
    background-color: aliceblue;
    font-family:'Times New Roman', Times, serif;
}
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap:10px;
}
.container1{
    display: flex;
    flex-direction: row;
}
.box1,.box2,.box3,.box4{
    width:21%;
    height: 100px;
    margin:2%;
    margin-top: 1%;
    margin-bottom: 0;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px;
}
.grid2{
    display:flex;
    flex-direction: row;
}
.rbjl,.rbjt{
    margin:3%;
}
#tr{
    color: rgb(18, 230, 163);
}
#oa{
    color: red;
}
#chart2,#chart1{
    width:600px;
    background-color: white;
}